@font-face {
    font-family: "Helvetica Neue";
    src: url(./assets/helvetica_regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(./assets/helvetica_bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(./assets/helvetica_light.otf);
    font-weight: 300;
}
